.sub_head{
    font-size: 18px;
    margin-bottom: 30px;
    font-weight: bold;
}
.MuiTableCell-head {
    font-size: 16px;
    font-weight: bold;
    line-height: 1.5rem;
}
.MuiTableCell-body {
    font-size: 12px;
    line-height: 1.5rem;
}

.MuiTableCell-root {
    display: table-cell;
    padding: 16px;
    text-align: left;
    border-bottom: 1px solid rgba(224, 224, 224, 1);
    letter-spacing: 0.01071em;
    vertical-align: inherit;
}
.sub_text{
    font-size: 18px;
    margin-bottom:30px ; 
    font-weight:400 
}
.MuiTableHead-root{
    background-color: rgb(197, 206, 203);
}
.logo { 
    height: 55px;
}