$default-white: #ffffff;
$jumna_theme_clr: #5663d2;

$size-minimum: 12px;

@font-face {
  font-family: "Righteous";
  src: local("Righteous"), url(./fonts/Righteous-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "Notosans-regular";
  src: local("Noto_Sans"),
    url(./fonts/Noto_Sans/NotoSans-Regular.ttf) format("truetype");
  font-style: normal;
  font-weight: 400;
  font-display: fallback;
}
@font-face {
  font-family: "NotoSans-Bold";
  src: local("NotoSans-Bold"),
    url(./fonts/Noto_Sans/NotoSans-Bold.ttf) format("truetype");
  font-style: normal;
  font-weight: bold;
  font-display: fallback;
}

body,
div,
p,
select,
button,
input,
table,
a,
span {
  font-family: "Notosans-regular";
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.MuiFormHelperText-root { 
  font-family: 'NotoSans-Regular';
}

.MuiFormLabel-root { 
  font-family: 'NotoSans-Regular';
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.flex_row {
  display: flex;
  flex-direction: row;
}
.flex_column {
  display: flex;
  flex-direction: column;
}
.align_center {
  align-items: center;
}
.justify_center {
  justify-content: center;
}
.justify_s_between {
  justify-content: space-between;
}
.justify_s_around {
  justify-content: space-around;
}
.main_container {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f0f5fd;
  width: 100%;
}
.form_container {
  background-color: $default-white;
  display: flex;
  flex-direction: column;
  justify-content: center;
  box-sizing: border-box;
  width: 520px;
  margin: auto;
  padding: 30px;
  box-shadow: 0px 0px 6px #ccc;
  border-radius: 10px;

}
.input-wrapper {
  width: 100%;
  margin: 10px 0;
  .MuiOutlinedInput-root{
      border-radius: 16px;
  }
}
.forgotPwd {
  float: right;
  font-size: $size-minimum;
  margin: 0;
  margin-top: 4px;
  cursor: pointer;
  color: $jumna_theme_clr;
}

.dontHaveAcc {
  margin: 0;
  font-size: $size-minimum;
  font-family: "Notosans-regular";
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
}
.signupBtn {
  color: $jumna_theme_clr;
  cursor: pointer;
  margin-left: 3px;
  font-family: "NotoSans-Bold";
}

.login-btn {
  .MuiButton-label {
    font-family: "NotoSans-Bold";
    text-transform: none;
  }
}
.btn-container {
  margin-top: 20px;
  width: 100%;
  text-align: right;
  border-radius: 16px;
  background-color:#5663d2;
  box-shadow: 0px 2px 2px #5663d2;
}
.signInHeadig {
  margin-top: 10px;
  font-size: 26px;
  font-family: "NotoSans-Bold";
  margin-bottom: 35px;
  color: rgb(23, 43, 77)
}
.padding_left_15 {
  padding-left: 15px;
}
.margin_bottom_30 {
  margin-bottom: 30px;
}
.padding_right_15 {
  padding-right: 15px;
}
.side_bar {
  width: 200px;
  background-color: #61dafb;
}
.home {
  height: 100vh;
}
.route-body {
  width: 100%;
  margin-left: 50px;
  margin-top: 50px;
  margin-right: 50px;
  overflow-x: hidden;
  background-color: $default-white;
}

.app_header { 
  height: 70px;
  background-color: $default-white;
}

.MuiInputBase-input{
  font-family: 'NotoSans-regular';
}