.left_nav {
  position: relative;
  top: 0;
  left: 0;
  bottom: 0;
  width: 240px;
  box-shadow: 0 0 6px #ccc;
  padding-top: 40px;
}
.nav_item {
  display: flex;
  padding: 2px 10px 2px 15px;
  align-items: center;
  cursor: pointer;
}
.active { 
  color:#1A7CFA;
  background-color: #e8f1fe;
  border-right: 3px solid;
  border-color: #1A7CFA;
}
.nav_label {
  margin-left: 20px;
}